{
  "openapi": "3.1.0",
  "info": {
    "title": "AbsolutePay API",
    "version": "0.1.0",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    },
    "description": "The AbsolutePay REST API — accept crypto payments, send payouts, run subscriptions, and reconcile, straight from your app. Every request is authenticated with your API key plus an HMAC signature; see the Authentication guide."
  },
  "servers": [
    {
      "url": "https://api.absolutepay.io"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer ap_live_... or ap_test_..."
      }
    },
    "schemas": {
      "Money": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "example": "10.500000",
            "description": "decimal string, ≤6dp"
          },
          "currency": {
            "type": "string",
            "example": "USDT"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "stable, machine-readable error code"
          },
          "title": {
            "type": "string",
            "description": "short human-readable summary"
          },
          "detail": {
            "type": "string",
            "description": "context for this specific occurrence"
          }
        }
      },
      "Balance": {
        "type": "object",
        "required": [
          "currency",
          "available",
          "locked"
        ],
        "properties": {
          "currency": {
            "type": "string",
            "example": "USDT"
          },
          "available": {
            "type": "string",
            "example": "10.500000"
          },
          "locked": {
            "type": "string",
            "example": "0"
          }
        }
      },
      "WithdrawOption": {
        "type": "object",
        "required": [
          "currency",
          "chain"
        ],
        "properties": {
          "currency": {
            "type": "string"
          },
          "chain": {
            "type": "string",
            "example": "MATIC"
          },
          "label": {
            "type": "string",
            "description": "human network name, e.g. Ethereum(ERC20)"
          },
          "withdrawFee": {
            "type": "string"
          },
          "minWithdraw": {
            "type": "string"
          },
          "maxWithdraw": {
            "type": "string"
          },
          "minConfirm": {
            "type": "integer"
          }
        }
      },
      "DepositChain": {
        "type": "object",
        "required": [
          "chain",
          "label",
          "currencies"
        ],
        "properties": {
          "chain": {
            "type": "string",
            "example": "ETH"
          },
          "label": {
            "type": "string",
            "example": "Ethereum(ERC20)"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "coins this network can receive",
            "example": [
              "ETH",
              "USDT",
              "USDC"
            ]
          }
        }
      },
      "DepositAddressRequest": {
        "type": "object",
        "required": [
          "chain"
        ],
        "properties": {
          "chain": {
            "type": "string",
            "example": "ETH",
            "description": "network code from GET /v1/deposits/chains"
          }
        }
      },
      "DepositAddress": {
        "type": "object",
        "required": [
          "chain",
          "address",
          "currencies"
        ],
        "properties": {
          "chain": {
            "type": "string",
            "example": "ETH"
          },
          "address": {
            "type": "string",
            "description": "permanent, reusable receive address for this network"
          },
          "memo": {
            "type": "string",
            "description": "destination tag/memo — required on memo networks; sending without it can lose funds"
          },
          "currencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "coins this address accepts on its network",
            "example": [
              "ETH",
              "USDT",
              "USDC"
            ]
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "when this address was first created, unix ms (present on list/detail reads)"
          }
        }
      },
      "Deposit": {
        "type": "object",
        "required": [
          "transactionId",
          "chain",
          "currency",
          "amount",
          "status"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "provider transaction id (stable dedupe key)"
          },
          "chain": {
            "type": "string",
            "example": "TRX"
          },
          "currency": {
            "type": "string",
            "example": "USDT"
          },
          "amount": {
            "type": "string",
            "description": "amount credited, in the coin's units"
          },
          "status": {
            "type": "string",
            "example": "PAID",
            "description": "settlement status"
          },
          "txHash": {
            "type": "string",
            "description": "on-chain transaction hash, when available"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64",
            "description": "settlement time, unix ms"
          }
        }
      },
      "PayOrderRecord": {
        "type": "object",
        "required": [
          "merchantTradeNo",
          "status",
          "amount",
          "currency"
        ],
        "properties": {
          "merchantTradeNo": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "PAID"
          },
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "paidAt": {
            "type": "integer",
            "format": "int64",
            "description": "UTC ms"
          }
        }
      },
      "WithdrawSuborderRecord": {
        "type": "object",
        "required": [
          "merchantBatchNo",
          "suborderId",
          "chain",
          "amount",
          "status"
        ],
        "properties": {
          "merchantBatchNo": {
            "type": "string"
          },
          "suborderId": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "txId": {
            "type": "string"
          }
        }
      },
      "FeePreview": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "paymentType",
          "fee",
          "net"
        ],
        "properties": {
          "amount": {
            "type": "string",
            "example": "1000.000000"
          },
          "currency": {
            "type": "string",
            "example": "USDT"
          },
          "paymentType": {
            "type": "string",
            "example": "CHECKOUT"
          },
          "fee": {
            "type": "string",
            "description": "total fee on this amount",
            "example": "2.500000"
          },
          "net": {
            "type": "string",
            "description": "amount - fee",
            "example": "997.500000"
          }
        }
      },
      "RefundRequest": {
        "type": "object",
        "required": [
          "merchantTradeNo",
          "amount"
        ],
        "properties": {
          "merchantTradeNo": {
            "type": "string",
            "maxLength": 100,
            "description": "the original order's trade no"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "reason": {
            "type": "string",
            "maxLength": 200
          },
          "refundRequestId": {
            "type": "string",
            "maxLength": 100,
            "description": "idempotency key; auto-generated if omitted"
          }
        }
      },
      "RefundOrder": {
        "type": "object",
        "required": [
          "merchantTradeNo",
          "refundRequestId",
          "status",
          "amount",
          "currency"
        ],
        "properties": {
          "merchantTradeNo": {
            "type": "string"
          },
          "refundRequestId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "PENDING",
            "description": "PENDING until the charge.refunded webhook (REFUND_SUCCESS/REFUND_REJECTED)"
          },
          "amount": {
            "type": "string",
            "example": "10.000000"
          },
          "currency": {
            "type": "string",
            "example": "USDT"
          }
        }
      },
      "PayoutItemRequest": {
        "type": "object",
        "required": [
          "recipientAddress",
          "chain",
          "amount"
        ],
        "properties": {
          "recipientAddress": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "memo": {
            "type": "string",
            "maxLength": 100
          }
        }
      },
      "PayoutRequest": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/PayoutItemRequest"
            }
          }
        }
      },
      "PayoutStatus": {
        "type": "string",
        "enum": [
          "PENDING",
          "SUBMITTED",
          "PROCESSING",
          "SUCCESS",
          "PARTIAL",
          "FAILED"
        ]
      },
      "PayoutSubOrder": {
        "type": "object",
        "required": [
          "recipientAddress",
          "chain",
          "amount",
          "status"
        ],
        "properties": {
          "recipientAddress": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "$ref": "#/components/schemas/PayoutStatus"
          },
          "txid": {
            "type": "string"
          },
          "deliveredAmount": {
            "type": "string",
            "description": "the amount actually delivered — matters for a PARTIAL settlement"
          },
          "fee": {
            "type": "string",
            "description": "network fee deducted on this sub-order"
          }
        }
      },
      "PayoutBatch": {
        "type": "object",
        "required": [
          "merchantBatchNo",
          "status",
          "subOrders"
        ],
        "properties": {
          "merchantBatchNo": {
            "type": "string"
          },
          "batchId": {
            "type": "string",
            "description": "the payout batch number, set once submitted"
          },
          "status": {
            "$ref": "#/components/schemas/PayoutStatus"
          },
          "subOrders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PayoutSubOrder"
            }
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "sellCurrency",
          "buyCurrency"
        ],
        "description": "specify exactly one of sellAmount / buyAmount",
        "properties": {
          "sellCurrency": {
            "type": "string"
          },
          "buyCurrency": {
            "type": "string"
          },
          "sellAmount": {
            "type": "string"
          },
          "buyAmount": {
            "type": "string"
          }
        }
      },
      "ConvertQuote": {
        "type": "object",
        "required": [
          "quoteId",
          "rate",
          "sellCurrency",
          "sellAmount",
          "buyCurrency",
          "buyAmount"
        ],
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "rate": {
            "type": "string"
          },
          "sellCurrency": {
            "type": "string"
          },
          "sellAmount": {
            "type": "string"
          },
          "buyCurrency": {
            "type": "string"
          },
          "buyAmount": {
            "type": "string"
          }
        }
      },
      "ConvertExecuteRequest": {
        "type": "object",
        "required": [
          "quoteId",
          "sell",
          "buy"
        ],
        "properties": {
          "quoteId": {
            "type": "string",
            "description": "the quoteId returned by previewConvert (verified live)"
          },
          "sell": {
            "$ref": "#/components/schemas/Money"
          },
          "buy": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "ConvertOrder": {
        "type": "object",
        "required": [
          "orderId",
          "status",
          "sell",
          "buy"
        ],
        "properties": {
          "orderId": {
            "type": "string",
            "description": "the conversion order number"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILED",
              "PENDING"
            ]
          },
          "sell": {
            "$ref": "#/components/schemas/Money"
          },
          "buy": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "SubscriptionPlanRequest": {
        "type": "object",
        "required": [
          "merchantPlanNo",
          "name",
          "amount",
          "interval",
          "intervalCount",
          "totalCycles"
        ],
        "properties": {
          "merchantPlanNo": {
            "type": "string",
            "description": "your reference + idempotency key for the plan"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "interval": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ]
          },
          "intervalCount": {
            "type": "integer",
            "minimum": 1
          },
          "totalCycles": {
            "type": "integer",
            "minimum": 1
          }
        }
      },
      "SubscriptionPlan": {
        "type": "object",
        "required": [
          "merchantPlanNo",
          "planNo",
          "priceNo",
          "name",
          "amount",
          "interval",
          "intervalCount",
          "totalCycles"
        ],
        "properties": {
          "merchantPlanNo": {
            "type": "string"
          },
          "planNo": {
            "type": "string",
            "description": "the plan number — pass it as planNo when subscribing a customer"
          },
          "priceNo": {
            "type": "string",
            "description": "the price/product number the plan references"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "interval": {
            "type": "string",
            "enum": [
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ]
          },
          "intervalCount": {
            "type": "integer",
            "minimum": 1
          },
          "totalCycles": {
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SubscribeRequest": {
        "type": "object",
        "required": [
          "merchantSubNo",
          "planNo"
        ],
        "properties": {
          "merchantSubNo": {
            "type": "string",
            "description": "your reference + idempotency key for this subscription"
          },
          "planNo": {
            "type": "string",
            "description": "the plan number (from a created subscription plan) to subscribe the customer to"
          },
          "callbackUrl": {
            "type": "string"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "required": [
          "merchantSubNo",
          "subId",
          "status",
          "planNo"
        ],
        "properties": {
          "merchantSubNo": {
            "type": "string"
          },
          "subId": {
            "type": "string",
            "description": "the subscription order number"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "PAST_DUE",
              "COMPLETED",
              "CANCELLED",
              "BLOCKED"
            ]
          },
          "planNo": {
            "type": "string"
          },
          "subscribeUrl": {
            "type": "string",
            "description": "hosted customer authorization link"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SubscriptionPage": {
        "type": "object",
        "required": [
          "items",
          "nextCursor"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ",
            "description": "Response-only opaque keyset cursor — you don't set it. To fetch the next page, pass this value back as the `before` query param. `null` means this was the last page."
          }
        }
      },
      "DeductionOrder": {
        "type": "object",
        "required": [
          "paymentOrderNo",
          "merchantSubNo",
          "amount",
          "status",
          "ts"
        ],
        "properties": {
          "paymentOrderNo": {
            "type": "string"
          },
          "merchantSubNo": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "FAILED",
              "BLOCKED",
              "PENDING"
            ]
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "InvoiceRequest": {
        "type": "object",
        "required": [
          "reference",
          "amount",
          "chain"
        ],
        "description": "Create an invoice — the deposit address is minted up front for `chain` (response is InvoiceWithAddress). For a payer-picks hosted link, use POST /v1/checkouts instead.",
        "properties": {
          "reference": {
            "type": "string",
            "description": "order/reference shown to the payer"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "optional link expiry (epoch ms) — past it the link reads EXPIRED and won't accept payment"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "http(s) URL — the payer is redirected here once the checkout reaches a terminal state, appending ?token=<token>&status=<SUCCESS|EXPIRED|CANCELED>"
          },
          "chain": {
            "type": "string",
            "description": "REQUIRED — the network the deposit address is minted on, up front"
          }
        }
      },
      "CheckoutLinkRequest": {
        "type": "object",
        "required": [
          "reference",
          "amount"
        ],
        "description": "Create a hosted checkout link (payer picks the asset/chain on the /pay page).",
        "properties": {
          "reference": {
            "type": "string",
            "description": "order/reference shown to the payer"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "optional link expiry (epoch ms) — past it the link reads EXPIRED and won't accept payment"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "http(s) URL — the payer is redirected here once the checkout reaches a terminal state, appending ?token=<token>&status=<SUCCESS|EXPIRED|CANCELED>"
          },
          "kind": {
            "type": "string",
            "enum": [
              "invoice",
              "checkout"
            ],
            "default": "checkout",
            "description": "which manager owns it; defaults to checkout"
          }
        }
      },
      "InvoiceWithAddress": {
        "type": "object",
        "required": [
          "token",
          "address",
          "chain",
          "currency",
          "amount"
        ],
        "description": "Returned by POST /v1/invoices — the deposit address minted up front for the given chain.",
        "properties": {
          "token": {
            "type": "string",
            "description": "public /pay/<token> link id"
          },
          "address": {
            "type": "string",
            "description": "on-chain deposit address to receive payment"
          },
          "memo": {
            "type": "string",
            "description": "destination tag/memo — present for memo chains (TON, etc.)"
          },
          "chain": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "description": "the token to send"
          },
          "amount": {
            "type": "string",
            "description": "exact amount to send"
          },
          "expireTime": {
            "type": "integer",
            "format": "int64",
            "description": "deposit address expiry (epoch ms)"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "invoice link expiry (epoch ms), if set"
          }
        }
      },
      "CheckoutLink": {
        "type": "object",
        "required": [
          "token",
          "status"
        ],
        "description": "Returned by POST /v1/checkouts — the hosted checkout page to send the payer to.",
        "properties": {
          "token": {
            "type": "string"
          },
          "checkoutUrl": {
            "type": "string",
            "description": "full hosted checkout URL (when CHECKOUT_BASE_URL is configured)"
          },
          "payPath": {
            "type": "string",
            "description": "relative /pay/<token> path (when no base URL is configured)"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "PAID",
              "EXPIRED",
              "VOID"
            ]
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "required": [
          "token",
          "merchantName",
          "reference",
          "amount",
          "status"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "public /pay/<token> link id"
          },
          "kind": {
            "type": "string",
            "enum": [
              "invoice",
              "checkout"
            ],
            "description": "which manager owns it: a billed invoice or a shareable checkout link"
          },
          "merchantName": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "description": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string",
            "description": "set if you passed one on create"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "PAID",
              "EXPIRED",
              "VOID"
            ]
          },
          "txId": {
            "type": "string"
          },
          "paidChain": {
            "type": "string"
          },
          "opens": {
            "type": "integer",
            "description": "checkout-link views (conversion funnel)"
          },
          "paused": {
            "type": "boolean",
            "description": "Live/Paused — a paused link won't accept payment"
          },
          "activeDeposit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DepositOrder"
              }
            ],
            "description": "un-expired deposit to resume on reload (same address + countdown)"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "description": "optional link expiry (epoch ms)"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "description": "merchant return URL, if set on create"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "paidAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "InvoiceUpdate": {
        "type": "object",
        "description": "PATCH body for a checkout/invoice — every field optional. Omit a field to leave it unchanged; send `null` to clear it (redirectUrl/expiresAt/description).",
        "properties": {
          "paused": {
            "type": "boolean",
            "description": "Live/Paused — a paused link won't accept payment"
          },
          "redirectUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "http(s) merchant return URL, or null to clear"
          },
          "expiresAt": {
            "type": "integer",
            "format": "int64",
            "nullable": true,
            "description": "link expiry (epoch ms), or null to clear"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "free-text description, or null to clear"
          }
        }
      },
      "InvoicePage": {
        "type": "object",
        "required": [
          "items",
          "nextCursor"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ",
            "description": "Response-only opaque keyset cursor — you don't set it. To fetch the next page, pass this value back as the `before` query param. `null` means this was the last page."
          }
        }
      },
      "DepositOrder": {
        "type": "object",
        "required": [
          "prepayId",
          "merchantTradeNo",
          "payAmount",
          "payCurrency",
          "address",
          "chain",
          "fullCurrType"
        ],
        "properties": {
          "prepayId": {
            "type": "string"
          },
          "merchantTradeNo": {
            "type": "string"
          },
          "payAmount": {
            "type": "string",
            "description": "exact amount to send (the order's orderAmount)"
          },
          "payCurrency": {
            "type": "string"
          },
          "address": {
            "type": "string",
            "description": "the on-chain deposit address"
          },
          "memo": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "fullCurrType": {
            "type": "string"
          },
          "expireTime": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Country": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Bank": {
        "type": "object",
        "required": [
          "bankAccountId",
          "bankAccountName",
          "bankName",
          "status"
        ],
        "properties": {
          "bankAccountId": {
            "type": "string"
          },
          "bankAccountName": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "approved",
              "pending",
              "materials",
              "rejected"
            ]
          },
          "memo": {
            "type": "string",
            "description": "review note — the rejection reason when status is rejected"
          }
        }
      },
      "BankMaterialsRequest": {
        "type": "object",
        "description": "supplementary documents when a bank's status is 'materials'. Each file base64; ≤4MB; jpg/png/pdf.",
        "required": [
          "certificate",
          "passport"
        ],
        "properties": {
          "certificate": {
            "type": "array",
            "minItems": 1,
            "maxItems": 5,
            "description": "company registration / business license",
            "items": {
              "$ref": "#/components/schemas/DocFile"
            }
          },
          "passport": {
            "type": "array",
            "minItems": 1,
            "maxItems": 5,
            "description": "government-issued ID",
            "items": {
              "$ref": "#/components/schemas/DocFile"
            }
          }
        }
      },
      "DocFile": {
        "type": "object",
        "required": [
          "filename",
          "contentType",
          "dataBase64"
        ],
        "properties": {
          "filename": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          },
          "dataBase64": {
            "type": "string"
          }
        }
      },
      "BankRequest": {
        "type": "object",
        "required": [
          "bankAccountName",
          "bankName",
          "countryId",
          "iban",
          "file"
        ],
        "properties": {
          "bankAccountName": {
            "type": "string",
            "description": "must match the merchant's verified identity"
          },
          "bankName": {
            "type": "string"
          },
          "countryId": {
            "type": "integer"
          },
          "iban": {
            "type": "string"
          },
          "swift": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "remittanceLineNumber": {
            "type": "string"
          },
          "file": {
            "type": "object",
            "description": "bank statement (base64), used for verification",
            "required": [
              "filename",
              "contentType",
              "dataBase64"
            ],
            "properties": {
              "filename": {
                "type": "string"
              },
              "contentType": {
                "type": "string"
              },
              "dataBase64": {
                "type": "string"
              }
            }
          }
        }
      },
      "OffRampQuoteRequest": {
        "type": "object",
        "required": [
          "cryptoCurrency",
          "fiatCurrency",
          "cryptoAmount"
        ],
        "properties": {
          "cryptoCurrency": {
            "type": "string"
          },
          "fiatCurrency": {
            "type": "string"
          },
          "cryptoAmount": {
            "type": "string",
            "description": "min 1000 USDT-equivalent"
          }
        }
      },
      "OffRampQuote": {
        "type": "object",
        "required": [
          "quoteToken",
          "validPeriod",
          "cryptoAmount",
          "fiatAmount",
          "fiatRate",
          "cryptoCurrency",
          "fiatCurrency"
        ],
        "properties": {
          "quoteToken": {
            "type": "string"
          },
          "validPeriod": {
            "type": "integer"
          },
          "cryptoAmount": {
            "type": "string"
          },
          "fiatAmount": {
            "type": "string"
          },
          "fiatRate": {
            "type": "string"
          },
          "cryptoCurrency": {
            "type": "string"
          },
          "fiatCurrency": {
            "type": "string"
          }
        }
      },
      "WithdrawRequest": {
        "type": "object",
        "required": [
          "quoteToken",
          "bankAccountId",
          "cryptoCurrency",
          "fiatCurrency",
          "cryptoAmount",
          "fiatAmount"
        ],
        "properties": {
          "quoteToken": {
            "type": "string"
          },
          "bankAccountId": {
            "type": "string"
          },
          "cryptoCurrency": {
            "type": "string"
          },
          "fiatCurrency": {
            "type": "string"
          },
          "cryptoAmount": {
            "type": "string"
          },
          "fiatAmount": {
            "type": "string"
          }
        }
      },
      "OffRampOrder": {
        "type": "object",
        "required": [
          "orderId",
          "clientOrderId",
          "cryptoCurrency",
          "fiatCurrency",
          "cryptoAmount",
          "fiatAmount",
          "status"
        ],
        "properties": {
          "orderId": {
            "type": "string"
          },
          "clientOrderId": {
            "type": "string"
          },
          "cryptoCurrency": {
            "type": "string"
          },
          "fiatCurrency": {
            "type": "string"
          },
          "cryptoAmount": {
            "type": "string"
          },
          "fiatAmount": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "DISPATCHED",
              "SUCCESS",
              "FAILED"
            ]
          },
          "bankSlipInfo": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "OffRampOrderPage": {
        "type": "object",
        "required": [
          "items",
          "nextCursor"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OffRampOrder"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ",
            "description": "Response-only opaque keyset cursor — you don't set it. To fetch the next page, pass this value back as the `before` query param. `null` means this was the last page."
          }
        }
      },
      "GiftTemplate": {
        "type": "object",
        "required": [
          "id",
          "titleEn",
          "imageUrl",
          "coverType"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "titleEn": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "coverType": {
            "type": "string"
          }
        }
      },
      "GiftCardRequest": {
        "type": "object",
        "required": [
          "title",
          "templateId",
          "amount"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "GiftCard": {
        "type": "object",
        "required": [
          "cardNum",
          "cardKey",
          "title",
          "templateId",
          "amount",
          "status"
        ],
        "properties": {
          "cardNum": {
            "type": "string"
          },
          "cardKey": {
            "type": "string",
            "description": "redemption key — store securely"
          },
          "title": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "ACTIVE",
              "REDEEMED",
              "FROZEN",
              "FAILED",
              "REVIEW"
            ]
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "GiftCardPage": {
        "type": "object",
        "required": [
          "items",
          "nextCursor"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GiftCard"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ",
            "description": "Response-only opaque keyset cursor — you don't set it. To fetch the next page, pass this value back as the `before` query param. `null` means this was the last page."
          }
        }
      },
      "LedgerEntry": {
        "type": "object",
        "required": [
          "recordId",
          "ts",
          "currency",
          "change",
          "type"
        ],
        "properties": {
          "recordId": {
            "type": "string",
            "description": "the ledger record number"
          },
          "ts": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string"
          },
          "change": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "ref": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "PageLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        },
        "description": "page size (default 25, max 100)"
      },
      "PageBefore": {
        "name": "before",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ"
        },
        "description": "Opaque keyset cursor for paging. Omit for the first page; to fetch the next page, pass the previous response's `nextCursor` here. Don't construct or parse it."
      },
      "PageOrder": {
        "name": "order",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        },
        "description": "sort by creation time — desc (newest first, default) or asc (oldest first). Keyset-stable in both directions."
      },
      "SearchQuery": {
        "name": "q",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        },
        "description": "case-insensitive substring search over the list's reference/identifier columns"
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "opaque client-chosen key; retrying with the same key + body replays the original response, a different body returns 409"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key / scope",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "idempotency/uniqueness conflict — the key was reused with a different payload, or the resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/balances": {
      "get": {
        "operationId": "getBalances",
        "summary": "List balances",
        "description": "Return every asset your workspace currently holds, one line per currency. Each line carries an `available` amount (spendable right now — for payouts, conversions, gift cards, or off-ramp) and a `locked` amount (reserved against in-flight operations and released when they settle). Balances are tracked per coin regardless of network: a deposit on any supported chain credits the same currency line. This read-only `GET` is also the easiest first call to confirm your API key and request signing are wired correctly. Needs the `balances:read` scope; returns `401` if the key lacks it.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Balance"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Always `null` — this list is returned in full (no pagination)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/reconciliation/payments": {
      "get": {
        "operationId": "listReconciliationPayments",
        "summary": "List settled collections",
        "description": "The settled record of your pay-ins, read straight from the ledger — the source of truth for accounting and reconciliation. Filter by time range with `from`/`to` (epoch milliseconds) and page with `limit` plus the opaque `before` cursor (stop when the response `nextCursor` is `null`); use `order` to sort by settlement time — `desc` (newest first, default) or `asc`. Each `items` row is a settled collection you match against your own order by its `merchantTradeNo`, alongside the `status`, `amount`, `currency`, and `paidAt`; the response also carries a `total` count for the filtered range. Read-only; needs the `ledger:read` scope. Use this for offline bookkeeping; `GET /v1/deposits` covers coins received on your permanent deposit addresses.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PayOrderRecord"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "true count for the filtered range (independent of the page)"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Response-only opaque cursor — pass it back as `before` to fetch the next page; `null` on the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/reconciliation/withdrawals": {
      "get": {
        "operationId": "listReconciliationWithdrawals",
        "summary": "List settled payouts",
        "description": "The settled record of your outbound payouts, one row per suborder. Filter by time range with `from`/`to` (epoch milliseconds) and page with `limit` plus the opaque `before` cursor (stop when the response `nextCursor` is `null`); use `order` to sort by settlement time — `desc` (newest first, default) or `asc`. Reconcile each `items` row against your batch by `merchantBatchNo`, its `suborderId`, and the on-chain `txId`, alongside the `chain`, `amount`, and `status`; a `total` count for the range is included. Read-only; needs the `ledger:read` scope.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WithdrawSuborderRecord"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "true count for the filtered range (independent of the page)"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Response-only opaque cursor — pass it back as `before` to fetch the next page; `null` on the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/fees/preview": {
      "get": {
        "operationId": "previewFee",
        "summary": "Preview a fee",
        "description": "Compute the total fee on a hypothetical amount before you transact, so you can show costs or net proceeds up front. Required query params are `amount` and `currency`; optionally pass `paymentType` (one of `CHECKOUT`, `WITHDRAWAL`, `PAYOUT`, `OFFRAMP`, `GIFTCARD`) to price a specific flow. `PAYOUT` is an alias for `WITHDRAWAL`. The response returns the total `fee` and the `net` (amount minus fee). This is a read-only estimate; it neither creates nor reserves anything. Needs the `balances:read` scope; returns `400` on an invalid amount or currency.",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CHECKOUT",
                "WITHDRAWAL",
                "PAYOUT",
                "OFFRAMP",
                "GIFTCARD"
              ]
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeePreview"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/refunds": {
      "post": {
        "operationId": "createRefund",
        "summary": "Refund a settled order",
        "description": "Refund all or part of a settled checkout/invoice order. The body takes the original order's `merchantTradeNo`, the `amount` to refund as a `{amount, currency}` object, an optional `reason`, and an optional `refundRequestId` that doubles as the idempotency key — it is auto-generated if omitted, so send your own to make retries safe. Responds `201` with the refund's `refundRequestId`, `amount`, and a `status` that starts at `PENDING`. Settlement is asynchronous: the `charge.refunded` webhook confirms the outcome (`REFUND_SUCCESS` or `REFUND_REJECTED`) and reverses the fees originally accrued — treat that webhook as the source of truth and process it idempotently. Send an `Idempotency-Key` header to make retries safe — the same key + body replays the original response, a different body returns `409`. Needs the `payments:write` scope; returns `400` if the amount exceeds the refundable remainder.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "operationId": "listRefunds",
        "summary": "List refunds",
        "description": "The settled record of your refunds, read straight from the funds ledger — every refund that has actually moved money back to a customer, one row per settlement. Filter by time range with `from`/`to` (epoch milliseconds), narrow to a single asset with `currency`, and page with `limit` plus the opaque `before` cursor (stop when the response `nextCursor` is `null`); use `order` to sort by settlement time — `desc` (newest first, default) or `asc`. A refund you just created with `POST /v1/refunds` is still `PENDING` and will NOT appear here until it settles — poll `GET /v1/refunds/{id}` or watch the `charge.refunded` webhook for in-flight status; this list is strictly the money that has already moved. Each `items` row is a ledger entry with a `recordId`, `ts` (epoch ms), `currency`, signed `change` (a refund is a debit, so negative), `type` (always `REFUND`), and the originating `ref`; the response also carries a `total` count for the filtered range. Read-only; needs the `ledger:read` scope.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LedgerEntry"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "true count for the filtered range (independent of the page)"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Response-only opaque cursor — pass it back as `before` to fetch the next page; `null` on the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/refunds/{id}": {
      "get": {
        "operationId": "getRefund",
        "summary": "Get a refund",
        "description": "Fetch a single refund by its id (the `refundRequestId` returned on create) and track it from `PENDING` to a terminal `REFUND_SUCCESS` or `REFUND_REJECTED`. The response echoes the `merchantTradeNo`, `refundRequestId`, `amount`, `currency`, and current `status`. Prefer the `charge.refunded` webhook as your primary signal and process it idempotently; use this poll as a fallback when a webhook is missed. Read-only, but needs the `payments:write` scope (same guard as creating a refund); returns `404` for an unknown id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "the refundRequestId returned on create"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundOrder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payouts": {
      "post": {
        "operationId": "createPayout",
        "summary": "Create a payout",
        "description": "Send a batch of one or more payouts from your `available` balance to external addresses. The body is `items`, an array of at least one `{recipientAddress, chain, amount, memo?}` entry; each recipient becomes a suborder you track independently. The request is accepted synchronously (`202`) returning a `merchantBatchNo` and per-suborder statuses, then settles asynchronously — watch the `payout.settled` / `payout.partial` / `payout.failed` webhooks, and note `deliveredAmount` on a `PARTIAL` result. Always send a unique `Idempotency-Key` header so a retried request never pays twice: the same key + body replays the original response, a different body returns `409`. Call `GET /v1/payouts/options` first to validate the chain and surface fees/limits. Needs the `payouts:write` scope; returns `400` on an unsupported chain or insufficient balance.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/payouts/options": {
      "get": {
        "operationId": "listWithdrawOptions",
        "summary": "List payout options",
        "description": "List the chains available to pay out a given `currency` (required query param), each returned with its `withdrawFee`, `minWithdraw`/`maxWithdraw` limits, `minConfirm`, and a human-readable network `label`. Call this before `POST /v1/payouts` to validate the recipient's chain, surface accurate costs, and enforce min/max amounts in your UI. Read-only; needs the `payouts:read` scope.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WithdrawOption"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Always `null` — this list is returned in full (no pagination)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/payouts/{id}": {
      "get": {
        "operationId": "getPayout",
        "summary": "Get a payout",
        "description": "Fetch a payout batch by its `merchantBatchNo` (the path `id`), including every suborder with its `recipientAddress`, `chain`, `amount`, `status`, `txid`, `deliveredAmount`, and `fee`. Use it to reconcile a batch that settled partially (`PARTIAL`) or to poll when a `payout.*` webhook is missed. Read-only; needs the `payouts:read` scope; returns `404` for an unknown batch.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutBatch"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/deposits/chains": {
      "get": {
        "operationId": "listDepositChains",
        "summary": "List deposit networks",
        "description": "List the networks available to receive funds into your own balance, each `items` entry carrying its `chain` code, a display `label`, and the `currencies` (coins) it accepts. A balance is one number per coin, so a deposit on any network credits the same coin balance — the network is just the rail the sender uses. Use this to build the network selector before calling `POST /v1/deposits/address`. Read-only; needs the `balances:read` scope.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DepositChain"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Always `null` — this list is returned in full (no pagination)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deposits/address": {
      "post": {
        "operationId": "createDepositAddress",
        "summary": "Create a deposit address",
        "description": "Return your reusable deposit address for the chosen network, minting it on first use and returning the same address on every later call (idempotent). The body takes `chain` (a network code from `GET /v1/deposits/chains`). The response is the `address`, the `chain`, the `currencies` it accepts, and a `memo` — on memo networks the memo is required, and sending without it can lose funds. The address is permanent and never expires, so store it and reuse it for every deposit; incoming funds credit your balance for whichever coin was sent. Needs the `balances:read` scope; returns `400` for an unsupported chain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddress"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deposits": {
      "get": {
        "operationId": "listDeposits",
        "summary": "List deposits",
        "description": "List settled deposits received on your permanent deposit addresses (the ones from `POST /v1/deposits/address`) over a time window. Optional `chain` narrows to one network code; `from`/`to` are unix-millisecond bounds and default to the last 30 days. Each `items` entry carries its `transactionId`, `chain`, `currency`, `amount`, settlement `status` (e.g. `PAID`), the on-chain `txHash`, and `createdAt` (unix ms). Page with the opaque `before` cursor (start with none; pass back the response `nextCursor` until it is `null`) and use `order` to sort by receipt time — `desc` (newest first, default) or `asc`. Read-only; needs the `balances:read` scope.",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "narrow to one network code (from GET /v1/deposits/chains)"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "window start, unix ms (default: now - 30 days)"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "window end, unix ms (default: now)"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deposit"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Response-only opaque cursor — pass it back as `before` to fetch the next page; `null` on the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deposits/addresses": {
      "get": {
        "operationId": "listDepositAddresses",
        "summary": "List deposit addresses",
        "description": "List the reusable deposit addresses you've created (via `POST /v1/deposits/address`), one per network. Use this to render your stored receive addresses without re-minting each one. Optional `chain` narrows to a single network code (from `GET /v1/deposits/chains`). Each item carries its `chain`, the permanent `address`, the `currencies` (coins) that network accepts, an optional `memo` (destination tag, required to receive on memo networks), and `createdAt` (unix ms, when you first created it). Results are keyset-ordered by creation time; page with `limit` and the opaque `before` cursor, stopping when the response `nextCursor` is `null`. Use `order` to sort — `desc` (newest first, default) or `asc` (oldest first). Read-only; needs the `balances:read` scope.",
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "narrow to one network code (from GET /v1/deposits/chains)"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DepositAddress"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "example": "eyJpZCI6IjAxSlgwUTdBQiIsInRzIjoxNzE5NzkyMDAwMDAwfQ",
                      "description": "Response-only opaque keyset cursor — you don't set it. To fetch the next page, pass this value back as the `before` query param. `null` means this was the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/deposits/addresses/{chain}": {
      "get": {
        "operationId": "getDepositAddress",
        "summary": "Get a deposit address",
        "description": "Fetch one reusable deposit address by its network code (`chain`, from `GET /v1/deposits/chains`). Returns the permanent `address`, the `chain`, the `currencies` (coins) that network accepts, an optional `memo` (destination tag, required to receive on memo networks), and `createdAt` (unix ms). This reads your stored address without re-minting, so it's the cheap way to resolve a single network's address for a receive screen. Returns `404` when you haven't created an address for that network yet — call `POST /v1/deposits/address` first. Read-only; needs the `balances:read` scope.",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "network code (from GET /v1/deposits/chains)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAddress"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/conversions/quote": {
      "post": {
        "operationId": "previewConversion",
        "summary": "Preview a conversion",
        "description": "Quote a conversion between two assets in your balance without executing it. Provide `sellCurrency`, `buyCurrency`, and exactly one of `sellAmount` / `buyAmount` (the other side is computed). The response returns a `quoteId`, the `rate`, and both resulting amounts (`sellAmount`/`buyAmount`). Quotes are short-lived — pass the `quoteId` to `POST /v1/conversions` promptly, and re-quote if it expires. Needs the `convert:write` scope; returns `400` if both or neither amount is supplied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertQuote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/conversions": {
      "post": {
        "operationId": "executeConversion",
        "summary": "Execute a conversion",
        "description": "Execute a conversion previously quoted by `POST /v1/conversions/quote`, moving balance from the sell asset into the buy asset. The body takes the `quoteId` plus the `sell` and `buy` Money objects echoed from the quote. Responds `201` with an `orderId`, a `status` (`SUCCESS`, `PENDING`, or `FAILED`), and the final `sell`/`buy` amounts. Re-quote first if the quote has expired. Send an `Idempotency-Key` header to make retries safe — the same key + body replays the original response, a different body returns `409`. Needs the `convert:write` scope; returns `400` for an expired or unknown quote.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConvertOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "operationId": "listConversions",
        "summary": "Conversions history",
        "description": "The settled record of your conversions, read straight from the funds ledger — every asset swap that has actually settled, so you can reconcile realized conversions against your own books. Filter by time range with `from`/`to` (epoch milliseconds), narrow to a single asset with `currency`, and page with `limit` plus the opaque `before` cursor (stop when the response `nextCursor` is `null`); use `order` to sort by settlement time — `desc` (newest first, default) or `asc`. A conversion is recorded only once it settles: a swap still in `PENDING` from `POST /v1/conversions` will NOT appear here yet. Each `items` row is a ledger entry with a `recordId`, `ts` (epoch ms), `currency`, signed `change` (the sell leg debits, the buy leg credits), `type` (always `CONVERT`), and the originating order `ref`; the response also carries a `total` count for the filtered range. Read-only; needs the `ledger:read` scope.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LedgerEntry"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "true count for the filtered range (independent of the page)"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Response-only opaque cursor — pass it back as `before` to fetch the next page; `null` on the last page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/subscription-plans": {
      "post": {
        "operationId": "createSubscriptionPlan",
        "summary": "Create a plan",
        "description": "Define a reusable recurring billing plan that customers can subscribe to. The body requires `merchantPlanNo` (your reference and idempotency key), `name`, `amount`, `interval` (`DAY`, `WEEK`, `MONTH`, or `YEAR`), `intervalCount`, and `totalCycles`. Responds `201` with the created plan including its `planNo` — pass that as `planNo` when subscribing a customer. One plan can back many subscriptions, so create it once and reuse it. Send an `Idempotency-Key` header to make retries safe — the same key + body replays the original response, a different body returns `409`. Needs the `subscriptions:write` scope; returns `400` on invalid interval or amount.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionPlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "operationId": "listSubscriptionPlans",
        "summary": "List plans",
        "description": "List every subscription plan you have defined, each with its `merchantPlanNo`, `planNo`, `name`, `amount`, `interval`/`intervalCount`, and `totalCycles`. Use it to populate a plan picker or to look up the `planNo` you need when creating a subscription. Read-only; needs the `subscriptions:read` scope.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubscriptionPlan"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Always `null` — this list is returned in full (no pagination)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/subscriptions": {
      "post": {
        "operationId": "createSubscription",
        "summary": "Create a subscription",
        "description": "Subscribe one of your customers to an existing plan. The body takes `merchantSubNo` (your reference and idempotency key), the `planNo` of the plan to bill, and an optional `callbackUrl`. Responds `201` with the subscription's `subId`, a `status` that starts at `PENDING`, and a `subscribeUrl` — send the customer there to authorize recurring charges. Once authorized the subscription becomes `ACTIVE` and bills each cycle, firing a `payment.succeeded` webhook per successful deduction. Send an `Idempotency-Key` header to make retries safe — the same key + body replays the original response, a different body returns `409`. Needs the `subscriptions:write` scope; returns `400` for an unknown plan.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscribeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "operationId": "listSubscriptions",
        "summary": "List subscriptions",
        "description": "List your customer subscriptions and their current state. Narrow with the `status` filter (`PENDING`, `ACTIVE`, `PAST_DUE`, `COMPLETED`, `CANCELLED`, or `BLOCKED`) and search references with `q`. Page with `limit` and the opaque `before` cursor; the response `nextCursor` is `null` on the last page. Use `order` to sort by creation time — `desc` (newest first, default) or `asc` (oldest first). Read-only; needs the `subscriptions:read` scope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "ACTIVE",
                "PAST_DUE",
                "COMPLETED",
                "CANCELLED",
                "BLOCKED"
              ]
            },
            "description": "narrow to one subscription status"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/subscriptions/{merchantSubNo}/deductions": {
      "get": {
        "operationId": "listDeductions",
        "summary": "List charges",
        "description": "List the charge history for one subscription (identified by `merchantSubNo` in the path), one entry per billing cycle. Each entry carries the `paymentOrderNo`, `amount`, a `status` (`SUCCESS`, `FAILED`, `BLOCKED`, or `PENDING`), and the timestamp `ts`. Use it to reconcile recurring revenue or to spot failed cycles. Read-only; needs the `subscriptions:read` scope.",
        "parameters": [
          {
            "name": "merchantSubNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeductionOrder"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Always `null` — this list is returned in full (no pagination)."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/subscriptions/{merchantSubNo}/cancel": {
      "post": {
        "operationId": "cancelSubscription",
        "summary": "Cancel a subscription",
        "description": "Cancel a subscription (identified by `merchantSubNo` in the path) so no further cycles are billed. Already-settled charges are unaffected, and the response returns the subscription with its `status` moved to `CANCELLED`. Cancellation is terminal — a cancelled subscription cannot be resumed; create a new one instead. Needs the `subscriptions:write` scope; returns `404` for an unknown `merchantSubNo`.",
        "parameters": [
          {
            "name": "merchantSubNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/checkouts": {
      "post": {
        "operationId": "createCheckoutLink",
        "summary": "Create a checkout",
        "description": "Create a shareable hosted checkout link where the payer picks which asset and chain to pay with on the hosted page — the counterpart to `POST /v1/invoices`, which instead fixes a `chain` and mints the deposit address up front. The body requires `reference` and `amount`, and optionally takes `description`, `customerEmail`, `expiresAt` (epoch ms), and `redirectUrl` (the payer returns there on a terminal state with `?token=&status=`). Responds `201` with a `token` plus a `checkoutUrl` (or relative `payPath`) to send the customer to, and an initial `status` of `OPEN`. It settles like any pay-in — fulfill on the `payment.succeeded` webhook. Checkouts and invoices share one table split by `kind`, so this `token` is a checkout: passing it to the invoice endpoints returns `404`. Needs the `invoices:write` scope; returns `400` on a bad amount.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutLinkRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "operationId": "listCheckouts",
        "summary": "List checkouts",
        "description": "List your hosted checkout links (the `checkout` kind only — invoices are listed separately via `GET /v1/invoices`). Filter by `status` (`OPEN`, `PAID`, `EXPIRED`, or `VOID`) and search references with `q`. Results are keyset-ordered newest-first by default; page with `limit` and the opaque `before` cursor, and stop when the response `nextCursor` is `null`. Use `order` to sort by creation time — `desc` (newest first, default) or `asc` (oldest first). Each item includes the `token`, `reference`, `amount`, `status`, `opens`, and timestamps. Read-only; needs the `invoices:read` scope.",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageOrder"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "OPEN",
                "PAID",
                "EXPIRED",
                "VOID"
              ]
            },
            "description": "narrow to a settlement state"
          },
          {
            "$ref": "#/components/parameters/SearchQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/checkouts/{token}": {
      "get": {
        "operationId": "getCheckout",
        "summary": "Get a checkout",
        "description": "Fetch a single hosted checkout link by its `token`, returning the full record: `reference`, `amount`, `status`, `paused`, `opens`, `txId`/`paidChain` once paid, any `activeDeposit` to resume, and timestamps. This endpoint is kind-scoped — it resolves only `checkout` tokens and returns `404` if the token is an invoice (use `GET /v1/invoices/{token}` for those) or unknown. Read-only; needs the `invoices:read` scope.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateCheckout",
        "summary": "Update a checkout",
        "description": "Update a checkout link's mutable fields only: `paused` (pause/unpause — a paused link won't accept payment), `redirectUrl`, `expiresAt`, and `description`. Omit a field to leave it unchanged; send `null` on `redirectUrl`/`expiresAt`/`description` to clear it. The `amount`, `currency`, `kind`, and `status` are immutable and cannot be patched. Returns the updated checkout; kind-scoped, so a non-checkout or unknown `token` returns `404`. Needs the `invoices:write` scope; returns `400` on an invalid field.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteCheckout",
        "summary": "Void a checkout",
        "description": "Void a checkout link so it can no longer be paid, returning `{ ok: true }`. Voiding is terminal — the link moves to `VOID` and cannot be reopened; issue a new checkout instead. Kind-scoped, so a non-checkout or unknown `token` returns `404`. Needs the `invoices:write` scope.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/invoices": {
      "post": {
        "operationId": "createInvoice",
        "summary": "Create an invoice",
        "description": "Create an invoice billed on a specific network: unlike a checkout, `chain` is required and the on-chain deposit `address` is minted up front so the payer sends funds directly to it — no hosted asset picker. The body requires `reference`, `amount`, and `chain`, and optionally takes `description`, `customerEmail`, `expiresAt` (epoch ms), and `redirectUrl`. Responds `201` with the invoice `token`, the minted `address` (plus `memo` on memo chains), `chain`, `currency`, `amount`, and expiry timestamps. For a payer-picks hosted link instead, use `POST /v1/checkouts`. Invoices and checkouts share one table split by `kind`, so this `token` is an invoice and returns `404` from the checkout endpoints. Needs the `invoices:write` scope; returns `400` on a bad amount or unsupported chain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created — the invoice + its minted deposit address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceWithAddress"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
[...]
